@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

section[epub|type~="dedication"]{
	margin: 25% auto;
	max-width: 50%;
}

section[epub|type~="dedication"] p{
	text-align: left;
	text-indent: 0;
}

section[epub|type~="dedication"] p[epub|type~="z3998:signature"]{
	text-align: right;
}

#father-goriot > p:first-child{
	margin-top: 6em;
}
