@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b,
strong{
	font-weight: normal;
	font-variant: small-caps;
}

footer{
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p span,
[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] br,
[epub|type~="z3998:verse"] br{
	display: none;
}
